body {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 10%;
  font-family: sans-serif;
}
nav {
  position: absolute;
  top: 0px;
  right: 0;
  height: 100px;
  width: auto;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

li {
  margin: 7px;
}
a:visited {
  color: whitesmoke;
}
